body{
	margin: 0px;

	background-color: white;
	background-image: url('../img/colorful-squares.jpg');
	background-size: 100%,100%;
	font-size: 16px;
}

.page-container-fluid .container{
	margin-top: -48px;
	position:center;
	
	color: white;
	border-radius: 0%;
}

.page-container-fluid {
	position:center;
	background-color: none;
}

.jumbotron{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;

	text-align: center;
	
	padding: auto;
	
	background-color: transparent;
}

.jumbotron h1{
	color: blue;
	z-index: 0;
}

.active{
	background-color: #32CD32;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse a{
	color: black;
}

.centered{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-55%,-35%);
	z-index: -1;
}

.img-rounded{
	width: 110%;
	height: 110%;
}

.img-circle{
	width: 90%;
	height: 90%;
}

.menuitem{
	position: absolute;
	top: 50%;
	bottom: 50%;
	
	width: 125px;
	height: 125px;
	color: black;

	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	
	background-color: #0e2f44;
	
	border-radius: 50%;
}

.menuitem a{
	color: white;
	text-align: center;
	text-decoration: none;
	transform: translate(-50%,-50%);
	-ms-transform: translate(0,0);
	position: center;
}

.moadl-body{
	padding: 15px;
}

.navbar-default .container-fluid .navbar-header .navbar-toggle .icon-bar {
	border-color: black;
	background-color: black;
}

.navbar-default .navbar-collapse .navbar-right{
	border-color: black;
}

.navbar-default .container-fluid .navbar-collapse .navbar-right a{
	color: orange;
	background-color: none;
	
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.navbar-default .container-fluid .navbar-brand{
	color: orange;
}

.panel-body{
	padding: 10px;
}

.panel-heading{
	padding: 10px;
}

#resume{
	background-color: white;
	
	border-style: inset;
	border-color: black;
	border-width: 1px;
	border-radius: 0%;
}

#welcome{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 0;
}

#header{
	text-align: center;
}

#line{
	height: 50px;
	width: 100%;
}

.nav .nav-tabs{
	background: transparent;
}
.form-control{
	margin:10px;
}
