<div class="container well well-lg">
    <nav class="navbar navbar-default" id="#shopnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid" id="#shopbody">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#shopnav" aria-expande="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#" data-toggle="tooltip" data-placement="left" title="Home">
                    <span class="glyphicon glyphicon-home">Shop Name</span>
                </a>
            </div>

            <!-- shop links-->
            <div class="collapse navbar-collapse" id="shopnav">
                <ul class="nav navbar-nav">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="left" title="Check Out">
						<span class="glyphicon glyphicon-shopping-cart">
                            <i>{{ Cart.length }}</i>
						<a href="#"></a>
					</span>
					</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="card" ng-repeat="hood in hoodies" id="showcase">
                <store-item item="hood" cart="Cart"></store-item>
            </div>
        </div>
        <div class="row">
            <div class="card" ng-repeat="shirt in shirts" id="showcase">
                <store-item item="shirt" cart="Cart"></store-item>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>