<div class="container">
    <div class="page-header">
        <h2>Unity games</h2>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="unity/Escape/Web Player.html" target="_blank">Escape</a></h3>
            </div>
            <div class="panel-body">
                <p>Escape is a first person, puzzle platformer. In this game you will have to alter the world and your perception of it to get to the goal. This uses Unity Web, and is not compatable with chrome, best used in Safari, Opera,Internet Exploer
                    or FireFox Esr 52 or later.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-offset-6">
        <a href="unity/Escape/Web Player.html" target="_blank"><img src="img/EscapeScreen.png" class="img-thumbnail"></a>
    </div>
</div>